.app-container{
     display: flex;
}

.contant{
     width: 100%;
}

.slide{
     min-height: 50rem;
     min-width: 14rem;
}

.post-card{
     margin: 24px 55px ;
     min-width: 30rem;
}
.hashtag{
     gap: 4px;
     margin-left: 6px;
}
.reaction{
     width: 100%;
     margin: 15px 0 0 0;
}
.CreatePost{
     width: 80%;
     margin-top: 60px;
     margin-left: 10%;
}
.WelcomeM{
     margin: 8rem 0;
}